@using System.Net.Http
<div style="color: transparent;">
    @Model FormVehicles
</div>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link href="/css/ManagerPojazdy.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="/js/site.js"></script>

</head>

<body>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <div class="flex-center">
        <a type="submit" class="h2" asp-controller="Vehicle" asp-action="VehicleList" style="text-decoration: none;">Lista przyjętych pojazdów</a>
    </div>

    

    <form asp-controller="Vehicle" asp-action="getVehiclesFilteredBySearch" method="get">
        <div class="search_wrap search_wrap_4">
            <div class="search_box">
                <button class="btn btn_common" type="submit">
                    <i class="fas fa-search"></i>
                </button>
                <input type="text" class="input input-font-dark" name="searching" placeholder="search...">
            </div>
        </div>
    </form>



    <div class="flex-center">
        <div class="sorting-container">
            <form asp-controller="Vehicle" asp-action="getVehiclesFilteredByBrand" method="get">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle round-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        marka pojazdu
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @foreach (var brand in Model[0].getBrands())
                        {
                            <li><input type="submit" class="dropdown-item" name="brandName" value="@brand.Name" /></li>
                        }
                        <li><input type="submit" class="dropdown-item" name="brandName" value="wszystkie marki" /></li>
                    </ul>
                </div>
            </form>

            <form asp-controller="Vehicle" asp-action="vehicleListFilteredByOwner" method="get">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle round-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        właściciel pojazdu
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @foreach (var client in Model[0].clients)
                        {
                            @if (client.CompanyName == null)
                            {
                                <li><input type="submit" class="dropdown-item" name="owner" value="@(client.FirstName + " " + client.LastName)" /></li>
                            }
                            else
                            {
                                <li><input type="submit" class="dropdown-item" name="owner" value="@client.CompanyName" /></li>
                            }

                        }
                        <li><input type="submit" class="dropdown-item" name="owner" value="wszyscy" /></li>

                    </ul>
                </div>
            </form>

            <form asp-controller="Vehicle" asp-action="vehicleListFilteredByStatus" method="get">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle round-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        status naprawy
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><input type="submit" class="dropdown-item" name="status" value="w trakcie naprawy" /></li>
                        <li><input type="submit" class="dropdown-item" name="status" value="dawniej naprawiane" /></li>
                        <li><input type="submit" class="dropdown-item" name="status" value="wszystkie" /></li>

                    </ul>
                </div>
            </form>

            <form asp-controller="Vehicle" asp-action="vehicleListFilteredByProposalsCount" method="get">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle round-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ilość napraw
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><input type="submit" class="dropdown-item" name="sort" value="sortuj rosnąco" /></li>
                        <li><input type="submit" class="dropdown-item" name="sort" value="sortuj malejąco" /></li>
                        <li><input type="submit" class="dropdown-item" name="sort" value="wszystkie" /></li>

                    </ul>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header">
                    <div class="text-capitalize font-weight-normal">&nbsp;Lista pojazdów</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    @foreach (var item in Model[0].getVehicles())
                                    {

                                        <li class="list-group-item">
                                            <div class="bg-warning"></div>
                                            <div class="p-0">
                                                <div class="row">
                                                    <div class="zlecenie-header">
                                                        <form asp-controller="Vehicle" asp-action="showVehicle" method="get">
                                                            <a type="submit" name="regNum" value="@item.Name" asp-controller="Vehicle" asp-action="showVehicle">@item.Name</a>
                                                        </form>
                                                        @{
                                                            var uri = new Uri("https://localhost:44323/Vehicle/getVehicleProposalsCount?regNumber=" + item.RegNumber);

                                                            var cookies = Context.Request.Cookies[".AspNetCore.Cookies"];

                                                            HttpClientHandler handler = new HttpClientHandler();
                                                            handler.CookieContainer = new System.Net.CookieContainer();
                                                            handler.CookieContainer.Add(uri, new System.Net.Cookie(".AspNetCore.Cookies", cookies));

                                                            var clinet = new HttpClient(handler);

                                                            clinet.DefaultRequestHeaders.Add(".AspNetCore.Cookies", cookies);

                                                            var response = await clinet.GetAsync(uri);
                                                            string textResult = await response.Content.ReadAsStringAsync();

                                                            <i>liczba napraw: @textResult</i>
                                                        }
                                                    </div>
                                                    <div class="progess-container">
                                                        @{
                                                            uri = new Uri("https://localhost:44323/Vehicle/getVehicleStatus?regNumber=" + item.RegNumber);
                                                            response = await clinet.GetAsync(uri);
                                                            textResult = await response.Content.ReadAsStringAsync();
                                                            bool status = textResult == "true" ? true : false;

                                                            if (status)
                                                            {
                                                                <button class="trash-button" data-toggle="tooltip" data-placement="right" title="Należy zakończyć trwające naprawy pojazdu, aby go usunąć." disabled>
                                                                  <i class="fas fa-trash" style='font-size:24px;color:gray'></i>
                                                                </button>
                                                                
                                                                <span class="circle circle-yellow" data-toggle="tooltip" data-placement="right" title="aktualnie naprawiany"></span>
                                                            }
                                                            else
                                                            {
                                                                <button class='trash-button' data-toggle="modal" data-target="#exampleModal" type="button" value="@item.RegNumber">
                                                                    <i class="fas fa-trash" style='font-size:24px;color:red'></i>
                                                                </button>
                                                                <span class="circle circle-green" data-toggle="tooltip" data-placement="right" title="Dawniej naprawiany"></span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Usuwanie pojazdu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div>
                        <p class="modal-body" id="regNumber"></p>
                    </div>
                <div class="modal-footer">
                    <form asp-controller="Vehicle" asp-action="deleteVehicle" method="get">
                        <button type="submit" class="btn btn-primary" name="regNumber" value="jj" id="deleteConfirmed">Tak, usuń</button>
                    </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    
                </div>
            </div>
        </div>
    </div>


    <script src="/js/ManagerPojazdy.js"></script>
    <script>

        $(document).ready(function (event) {
            $("#exampleModal").on('show.bs.modal', function (event) {
                //get button that triggered the modal
                var button = $(event.relatedTarget);

                //get the button "tak, usuń" in modal window
                var confirmDelete = document.getElementById("deleteConfirmed");

                //get modal window
                var modal = $(this);

                //set the button's value to regNumber
                confirmDelete.value = button.val();

                //set the text in model window
                modal.find('.modal-body').html("Czy chcesz usunąć pojazd " + button.val() + " wraz z całą jego historią?");
            });

        });
    </script>


    </body>

