
<div style="color: transparent;">
    @Model FormAddEditProposal
</div>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/ShowPorposal.css" rel="stylesheet" />
    <link href="/css/AddProposal.css" rel="stylesheet" />
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>

    <form id="addEdtVehilcle">
        @{
            if (Model[0].is_editable)
            {
                <div class="element-add">
                    <h1>Pojazd: </h1>
                    <h4>@Model[0].vehicle.Name</h4>
                </div>
            }
        }
        <div class="element-add">
            <h1>Marka: </h1>
            <div class="dropdown">
                <select class="form-control SelectFilter mdb-select md-form formElement" name="brand" value="" data-target="vehicleDropdown" searchable="Search here.." id="Brand">
                    @{
                        <option value="-1" selected disabled>Wybierz markę</option>
                        foreach (var brand in Model[0].brands)
                        {
                            if (Model[0].is_editable)
                            {
                                if (Model[0].brand == brand)
                                {
                                    <option value="@brand.CodeBrand" selected>@brand.Name</option>
                                }
                                else
                                {
                                    <option value="@brand.CodeBrand">@brand.Name</option>
                                }
                            }
                            else
                            {
                                <option value="@brand.CodeBrand">@brand.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="element-add">
            <h1>Nr rejestracyjny: </h1>

            @{
                if (Model[0].is_editable)
                {
                    <input type="text" name="regNumber" value="@Model[0].vehicle.RegNumber" readonly="readonly"/>
                }
                else
                {
                    <input type="text" name="regNumber" value="@Model[0].vehicle.RegNumber"/>
                }
            }
        </div>

        <div class="element-add">
            <h1>Typ pojazdu: </h1>
            <div class="dropdown">
                <select class="form-control SelectFilter mdb-select md-form formElement" name="type" value="" data-target="vehicleDropdown" searchable="Search here.." id="Type">
                    @{
                        <option value="-1" selected disabled>Wybierz typ</option>
                        foreach (var type in Model[0].vehicleTypes)
                        {
                            if (Model[0].is_editable)
                            {
                                if (Model[0].vehicleType == type)
                                {
                                    <option value="@type.CodeType" selected>@type.Name</option>
                                }
                                else
                                {
                                    <option value="@type.CodeType">@type.Name</option>
                                }
                            }
                            else
                            {
                                <option value="@type.CodeType">@type.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>


        <div class="element-add">
            <h1>Wlasciciel: </h1>
            <div class="dropdown">
                <select class="form-control SelectFilter mdb-select md-form formElement" name="client" value="" data-target="vehicleDropdown" searchable="Search here.." id="Owner">
                    @{
                        <option value="-1" selected disabled>Wybierz klienta</option>
                        foreach (var client in Model[0].clients)
                        {

                            if (Model[0].is_editable)
                            {
                                if (Model[0].client.Id == client.Id)
                                {
                                    <option value="@client.Id" selected>@client.FirstName @client.LastName @client.CompanyName</option>
                                }
                                else
                                {
                                    <option value="@client.Id">@client.FirstName @client.LastName @client.CompanyName</option>
                                }
                            }
                            else
                            {
                                <option value="@client.Id">@client.FirstName @client.LastName @client.CompanyName</option>
                            }
                        }
                    }
                </select>
            </div>

        </div>
        <br />
        <br />
        <br />
        <div class="save-cancel">
            @{
                if (Model[0].is_editable)
                {
                    <button asp-controller="AddVehicle" asp-action="UpdateVehicle" method="get" class="btn save-button" id="saveButton" type="submit">Zapisz</button>
                }
                else
                {
                    <button asp-controller="AddVehicle" asp-action="AddVehicleToDB" method="get" class="btn save-button" id="saveButton" type="submit" name="propasalId" value="@Model[0].proposalId">Zapisz</button>
                }
            }
            <button asp-controller="AddProposal" asp-action="AddProposal" method="get" class="btn cancel-button" id="cancelButton" type="submit">Anuluj</button>
        </div>
    </form>
</body>

