@model warsztatSamochodowy.Models.Personel

@{
    ViewData["Title"] = "Potwierdzenie Edycji Pracownika";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link href="/css/ManagerPojazdy.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="/js/site.js"></script>

</head>

<h1>Pracownik został zedytowany.</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Imię:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Nazwisko:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Rola:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Numer telefonu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Adres:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.FormatedAddress)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="PersonelEdit" asp-route-id="@Model.Id">
        <button class="btn btn-blue" type="submit">Edytuj</button>
    </form>
    <br />
    <form asp-action="Index">
        <button class="btn btn-green" type="submit">Lista</button>
    </form>
</div>
