@model warsztatSamochodowy.Models.Personel

@{
    ViewData["Title"] = "Potwierdzenie Stworzenia Pracownika";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/ManagerPojazdy.css" rel="stylesheet" />
    <link href="~/css/ShowPorposal.css" rel="stylesheet" />
    <link href="/css/ManagerKlienci.css" rel="stylesheet" />
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="/js/ManagerPojazdy.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="/js/site.js"></script>
</head>

<h1>Utworzono pracownika</h1>

<div class='element'>
    <h1>Imię: </h1>
    <h2>@Html.DisplayFor(model => model.FirstName)</h2>
</div>
<div class='element'>
    <h1>Nazwisko: </h1>
    <h2>@Html.DisplayFor(model => model.LastName)</h2>
</div>
<div class='element'>
    <h1>Rola: </h1>
    <h2>@Html.DisplayFor(model => model.Role.Name)</h2>
</div>
<div class='element'>
    <h1>Email: </h1>
    <h2>@Html.DisplayFor(model => model.Email)</h2>
</div>
<div class='element'>
    <h1>Numer telefonu: </h1>
    <h2>@Html.DisplayFor(model => model.PhoneNumber)</h2>
</div>
<div class='element'>
    <h1>Adres: </h1>
    <h2>@Html.DisplayFor(model => model.Address.FormatedAddress)</h2>
</div>

<form asp-action="Index">
    <button type="submit" class="btn btn-green">Powrót do listy</button>
</form>



