
<div style="color: transparent;">
    @Model ShowProposalForm
</div>
@using System.Net.Http
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />


    <link href="~/css/ShowPorposal.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-template.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E
    <script src="/js/site.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="/js/ManagerPojazdy.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
</head>

<body>
    <div class='header'>
        <div class='element'>
            <h1>Zgloszenie: </h1>
            <h2> @Model[0].proposal.VehicleId @Model[0].proposal.StartDate</h2>
        </div>
        <div class='status'>
            <h1>Status: </h1>
            <h2> @Model[0].proposal.Status</h2>
        </div>
    </div>
    <br />
    <br />
    <div class='progress-container-all'>
        @{
            string url = "https://localhost:44323/Proposals/getProposalActionsComplete?proposalId=" + Model[0].proposal.Id;
            string textResult = await httpRequest(url);
        }




        <div class="progress-bar-container progress">
            <div id="progresBar" data-percentage="0%" class="progress-bar progress-bar-success progress-bar-success-animate" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <script>
                        var r = document.getElementById('progresBar');
                        r.style.setProperty('--procentProgressBar', '@textResult');
                </script>
                <div style="margin: 0 auto">@textResult</div>

            </div>
            <i class="moja-ikona fas fa-car-side"></i>
        </div>






        @{
            if (Model[0].currentUser.RoleId == "MAN")
            {
                <form asp-controller="Proposals" asp-action="SetStatus" method="get">
                    <input type="hidden" name="proposalId" value="@Model[0].proposal.Id" />
                    @{
                        if (textResult == "100%" && Model[0].proposal.Status == StatusEnum.PROCESSING)
                        {
                            <div class="end-button" style="background: none !important; outline: none !important;">
                                <button type="submit" name="status" value=2 class="btn btn-yellow" style="margin-left: 100px;">Zakończ</button>
                            </div>
                        }
                        else if (textResult == "0%" && Model[0].proposal.Status == StatusEnum.OPEN)
                        {
                            if (Model[0].actions.Count != 0)
                            {
                                <div class="end-button" style="background: none !important; outline: none !important;">
                                    <button type="submit" name="status" value=1 class="btn btn-blue" style="margin-left: 100px;">rozpocznij</button>
                                </div>
                            }
                            else
                            {
                                <div class="end-button" style="background: none !important; outline: none !important;">
                                    <button data-toggle="tooltip" data-placement="left" title="Aby rozpocząć dodaj przynajmniej jedną akcję" class="btn btn-blue" style="margin-left: 100px;" disabled>rozpocznij</button>
                                </div>
                            }
                        }
                        else if ((textResult == "100%" && Model[0].proposal.Status == StatusEnum.FINAL) || Model[0].proposal.Status == StatusEnum.CANCELED)
                        {
                            <div class="end-button" style="background: none !important; outline: none !important;">
                                <button type="submit" name="status" value=1 class="btn btn-green" style="margin-left: 100px;">otwórz ponownie</button>
                            </div>
                        }
                        else if (textResult != "100%" && Model[0].proposal.Status == StatusEnum.PROCESSING)
                        {
                            <div class="end-button" style="background: none !important; outline: none !important;">
                                <button type="submit" name="status" value=3 class="btn btn-red" style="margin-left: 100px;">anuluj</button>
                            </div>
                        }

                    }

                </form>
            }
        }



    </div>

    @if (Model[0].currentUser.RoleId == "MAN")
    {
        <form asp-controller="AddProposal" asp-action="AddProposal" method="get">
            @{
                if (Model[0].proposal.Status == StatusEnum.PROCESSING || Model[0].proposal.Status == StatusEnum.OPEN)
                {
                    <button type="submit" name="proposalId" value=@Model[0].proposal.Id class="btn btn-red">edytuj zlecenie</button>
                }
                else
                {
                    <button class="btn btn-red" disabled>edytuj zlecenie</button>
                }
            }

        </form>
    }



    <div class='element'>
        <h1>Pojazd: </h1>
        <h2> <a href="#">@Model[0].vehicle.Name</a></h2>
    </div>

    <div class='element'>
        <h1>Klient: </h1>
        <h2> @Model[0].client.FirstName @Model[0].client.LastName @Model[0].client.CompanyName</h2>
    </div>

    <div class='element'>
        <h1>Przyjmujacy: </h1>
        <h2>@Model[0].meneger.FirstName @Model[0].meneger.LastName</h2>
    </div>


    <br>
    <br>

    <div class='my-row'>
        <div class='my-column'>
            <div class='element'>
                <h1>Opis: </h1>
            </div>
            <div class='proposal-card'>
                <p>@Model[0].proposal.Description</p>
            </div>
        </div>
        @{ if (Model[0].proposal.Result != null)
            {
                <div class='my-column'>
                    <div class='element'>
                        <h1>Rezultat: </h1>
                    </div>
                    <div class='proposal-card'>
                        <p>@Model[0].proposal.Result</p>
                    </div>
                </div>
            }

        }

    </div>


    <br>
    <br>

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class='action-row'>
                <div class='element'>
                    <h1>Akcje: </h1>
                </div>

                @if (Model[0].currentUser.RoleId == "MAN")
                {
                    <div>
                        <form asp-controller="Action" asp-action="AddAction" method="get">
                            @{
                                if (Model[0].proposal.Status == StatusEnum.OPEN || Model[0].proposal.Status == StatusEnum.PROCESSING)
                                {
                                    <button type="submit" value=@Model[0].proposal.Id name="proposalId" id="addAction" class="btn btn-blue" data-toggle="tooltip" data-placement="right" title="dodaj nową akcję">dodaj akcję</button>
                                }
                                else
                                {
                                    <button type="submit" value=@Model[0].proposal.Id name="proposalId" id="addAction" class="btn btn-blue" data-toggle="tooltip" data-placement="right" title="Aby modyfikować zlecenie, otwórz je ponownie." disabled>dodaj akcję</button>
                                }
                            }
                        </form>

                    </div>
                }

            </div>

            <br />
            <div class="card-hover-shadow-2x mb-3 card">

                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">

                                    @if (Model[0].currentUser.RoleId == "WOR")
                                    {
                                        <li class="list-group-item" style="background-color: hsla(220, 100%, 86%, 0.33);">
                                            <div class="bg-warning"></div>
                                            <div class="p-0">
                                                @foreach (var act in Model[0].actions)
                                                {
                                                    <div class="action-table-row">
                                                        <div data-toggle="tooltip" data-placement="right" title="opis: @act.Description" class="name bold-font">
                                                            @act.ActionTypeId
                                                        </div>
                                                        <div class="worker">
                                                            worker: @act.WorkerId
                                                        </div>
                                                        <div class="wykonaj-po">
                                                            @if (act.SequenceNumber != null)
                                                            {
                                                                foreach (var a in Model[0].actions)
                                                                {
                                                                    if (a.Id == act.SequenceNumber)
                                                                    {
                                                                        <div class="worker-field my-flex-center" data-toggle="tooltip" data-placement="right" title="opis: @a.Description">
                                                                            wykonaj po: @a.ActionType.CodeAction
                                                                        </div>
                                                                    }
                                                                }

                                                            }

                                                        </div>

                                                        <div class="edit-dot my-flex-center">
                                                            @if (act.Status == StatusEnum.OPEN)
                                                            {
                                                                <span class='circle circle-blue'></span>
                                                            }
                                                            else if (act.Status == StatusEnum.PROCESSING)
                                                            {
                                                                <span class='circle circle-yellow'></span>
                                                            }
                                                            else if (act.Status == StatusEnum.FINAL)
                                                            {
                                                                <span class='circle circle-green'></span>
                                                            }
                                                            else
                                                            {
                                                                <span class='circle circle-red'></span>
                                                            }

                                                            <form asp-controller="Action" asp-action="editAction" method="get">
                                                                @if (Model[0].proposal.Status == StatusEnum.OPEN || Model[0].proposal.Status == StatusEnum.PROCESSING || (Model[0].currentUser.RoleId == "WOR" && act.WorkerId == Model[0].currentUser.Id))
                                                                {
                                                                    <div class="action-table-button"><button type="submit" class="btn btn-red" name="actionId" value="@act.Id">Edytuj</button></div>

                                                                }
                                                                else
                                                                {
                                                                    <div class="action-table-button"><button type="submit" class="btn btn-red" name="actionId" value="@act.Id" disabled>Edytuj</button></div>
                                                                }
                                                            </form>



                                                        </div>

                                                    </div>
                                                }

                                            </div>
                                        </li>
                                    }
                                    @{
                                        else
                                        {
                                            <li class="list-group-item">
                                                <div class="bg-warning"></div>
                                                <div class="p-0">
                                                    @foreach (var act in Model[0].actions)
                                                    {
                                                        <div class="action-table-row">
                                                            <div data-toggle="tooltip" data-placement="right" title="opis: @act.Description" class="name bold-font">
                                                                @act.ActionTypeId
                                                            </div>
                                                            <div class="worker">
                                                                worker: @act.WorkerId
                                                            </div>
                                                            <div class="wykonaj-po">
                                                                @if (act.SequenceNumber != null)
                                                                {
                                                                    foreach (var a in Model[0].actions)
                                                                    {
                                                                        if (a.Id == act.SequenceNumber)
                                                                        {
                                                                            <div class="worker-field my-flex-center" data-toggle="tooltip" data-placement="right" title="opis: @a.Description">
                                                                                wykonaj po: @a.ActionType.CodeAction
                                                                            </div>
                                                                        }
                                                                    }

                                                                }

                                                            </div>

                                                            <div class=" my-flex-center edit-dot">
                                                                @if (act.Status == StatusEnum.OPEN)
                                                                {
                                                                    <div class='circle circle-blue'></div>
                                                                }
                                                                else if (act.Status == StatusEnum.PROCESSING)
                                                                {
                                                                    <div class='circle circle-yellow'></div>
                                                                }
                                                                else if (act.Status == StatusEnum.FINAL)
                                                                {
                                                                    <div class='circle circle-green'></div>
                                                                }
                                                                else
                                                                {
                                                                    <div class='circle circle-red'></div>
                                                                }

                                                                <button class='trash-button' data-toggle="modal" data-target="#deleteModal" type="button" value="@act.Id">
                                                                    <i class="fas fa-trash" style="font-size:24px;color:red"></i>
                                                                </button>

                                                                <form asp-controller="Action" asp-action="editAction" method="get">
                                                                    @if (Model[0].proposal.Status == StatusEnum.OPEN || Model[0].proposal.Status == StatusEnum.PROCESSING)
                                                                    {
                                                                        <div class="action-table-button"><button type="submit" class="btn btn-red" name="actionId" value="@act.Id">Edytuj</button></div>

                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="action-table-button"><button type="submit" class="btn btn-red" name="actionId" value="@act.Id" disabled>Edytuj</button></div>
                                                                    }
                                                                </form>





                                                            </div>

                                                        </div>
                                                    }

                                                </div>
                                            </li>
                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal" aria-labelledby="deleteModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Usuwanie akcji</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <p class="modal-body" id="action"></p>
                </div>
                <div class="modal-footer">
                    <form asp-controller="Action" asp-action="deleteAction" method="get">
                        <button type="submit" class="btn btn-primary" name="actionId" value="" id="deleteConfirmed">Tak, usuń</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>

                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function (event) {
            $("#deleteModal").on('show.bs.modal', function (event) {
                //get button that triggered the modal
                var button = $(event.relatedTarget);

                //get the button "tak, usuń" in modal window
                var confirmDelete = document.getElementById("deleteConfirmed");

                //get modal window
                var modal = $(this);

                //set the button's value to proposalId
                confirmDelete.value = button.val();

                //set the text in model window
                modal.find('.modal-body').html("Czy chcesz usunąć akcję wraz z całą jej historią?");
            });

        });
    </script>



</body>




@{
    async Task<string> httpRequest(string url)
    {
        var uri = new Uri(url);

        var cookies = Context.Request.Cookies[".AspNetCore.Cookies"];

        HttpClientHandler handler = new HttpClientHandler();
        handler.CookieContainer = new System.Net.CookieContainer();
        handler.CookieContainer.Add(uri, new System.Net.Cookie(".AspNetCore.Cookies", cookies));

        var clinet = new HttpClient(handler);

        clinet.DefaultRequestHeaders.Add(".AspNetCore.Cookies", cookies);

        var response = await clinet.GetAsync(uri);
        string textResult = await response.Content.ReadAsStringAsync();

        return textResult;
    }

}
