<div style="color: transparent;">
    @Model ShowProposalForm
</div>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/ShowPorposal.css" rel="stylesheet" />
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>

    <div class='header'>
        <div class='element'>
            <h1>Zgloszenie: </h1>
            <h2> @Model[0].proposal.VehicleId @Model[0].proposal.StartDate</h2>
        </div>
        <div class='status'>
            <h1>Status: </h1>
            <h2> @Model[0].proposal.Status</h2>
        </div>
    </div>
    <br>

    <div class='progress-container-all'>
        <div class="progress-bar-container progress">
            <div data-percentage="0%" style="width: 70%" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="end-button"><a href="#">Zakończ</a></div>
    </div>

    <br>

    <div class='element'>
        <h1>Pojazd: </h1>
        <h2> <a href="#">@Model[0].vehicle.Name</a></h2>
    </div>

    <div class='element'>
        <h1>Klient: </h1>
        <h2> @Model[0].client.FirstName @Model[0].client.LastName</h2>
    </div>

    <div class='element'>
        <h1>Przyjmujacy: </h1>
        <h2>@Model[0].meneger.FirstName @Model[0].meneger.LastName</h2>
    </div>
</body>

<br>
<br>
<br>

<div class='my-row'>
    <div class='my-column'>
        <div class='element'>
            <h1>Opis: </h1>
        </div>
        <div class='proposal-card'>
            <p>@Model[0].proposal.Description</p>
        </div>
    </div>
    <div class='my-column'>
        <div class='element'>
            <h1>Rezultat: </h1>
        </div>
        <div class='proposal-card'>
            <p>@Model[0].proposal.Result</p>
        </div>
    </div>
</div>



<br>
<br>
<br>
<br>


<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <div class='action-row'>
            <div class='element'>
                <h1>Akcje: </h1>
            </div>
            <div class='end-button' style="background: #6ff1a9">
                <a href='#'><i class="fas fa-plus" style="color: black"></i></a>
            </div>

        </div>
        <div class="card-hover-shadow-2x mb-3 card">

            <div class="scroll-area-sm">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            <ul class=" list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="bg-warning"></div>
                                    <div class="p-0">
                                        @foreach (var act in Model[0].actions)
                                        {
                                            <div class="action-table-row">
                                                <div class="action-field my-flex-center">
                                                    @act.ActionTypeId
                                                </div>
                                                <div class="worker-field my-flex-center">
                                                    worker: @act.WorkerId
                                                </div>
                                                @if (act.SequenceNumber != null)
                                                {
                                                    foreach (var a in Model[0].actions)
                                                    {
                                                        if (a.Id == act.SequenceNumber)
                                                        {
                                                            <div class="worker-field my-flex-center">
                                                                wykonaj po: @a.ActionType.CodeAction
                                                            </div>
                                                        }
                                                    }

                                                }

                                                <div class="status-field my-flex-center">
                                                    @if (act.Status == StatusEnum.OPEN)
                                                    {
                                                        <span class='circle circle-blue'></span>
                                                    }
                                                    else if (act.Status == StatusEnum.PROCESSING)
                                                    {
                                                        <span class='circle circle-yellow'></span>
                                                    }
                                                    else if (act.Status == StatusEnum.FINAL)
                                                    {
                                                        <span class='circle circle-green'></span>
                                                    }
                                                    else
                                                    {
                                                        <span class='circle circle-red'></span>
                                                    }
                                                    <div class="action-table-button"><button asp-controller="Action" asp-action="editAction" method="get" class="btn btn-red" name="actionId" value="@act.Id">Edytuj</button></div>
                                                </div>

                                            </div>
                                        }

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>



