<div style="color: transparent;">
    @Model FormAddEditProposal
</div>
@using System.Net.Http
@using System.Web.Helpers
@using System.Text.Json;

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/ShowPorposal.css" rel="stylesheet" />
    <link href="/css/AddProposal.css" rel="stylesheet" />
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/site.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="/js/ManagerPojazdy.js"></script>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/js/SelectFilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

    <form id="addProposalForm">
        <div class="element-add">
            <h1>Klient: </h1>
            <div class="dropdown" style="margin-right: 30px;">

                <select class="form-control SelectFilter mdb-select md-form formElementAddProposal" name="client" value="" data-target="vehicleDropdown" searchable="Search here.." id="client">
                    @{
                        if (Model[0].is_editable)
                        {
                            <option value="-1" disabled>wybierz klienta</option>
                        }
                        else
                        {
                            <option value="-1" disabled selected>wybierz klienta</option>
                        }

                        foreach (var client in Model[0].clients)
                        {
                            if (client.CompanyName == null)
                            {
                                if (Model[0].client.FirstName == client.FirstName && Model[0].client.LastName == client.LastName)
                                {
                                    <option data-ref=@client.Id selected>@client.FirstName @client.LastName</option>
                                }
                                else
                                {
                                    <option data-ref=@client.Id>@client.FirstName @client.LastName</option>
                                }
                            }
                            else
                            {
                                if (Model[0].client.CompanyName == client.CompanyName)
                                {
                                    <option data-ref=@client.Id selected>@client.CompanyName</option>
                                }
                                else
                                {
                                    <option data-ref=@client.Id>@client.CompanyName</option>
                                }
                            }
                        }
                    }
                </select>
            </div>
            <button asp-controller="AddEditClient" asp-action="AddClient" method="get" class="btn add-button" type="submit" value="/AddProposal/AddProposal" name="returnUrl"> <i class="fas fa-plus" style="color: black"></i></button>
        </div>

        <div class="element-add">
            <h1>Pojazd: </h1>
            <div class="dropdown" style="margin-right: 30px;">
                <select class="form-control vehicleDropdown SelectFilter mdb-select md-form dropdown formElementAddProposal" name="vehicle" value="" searchable="Search here.." id="vehicle">
                    @{
                        if (Model[0].is_editable)
                        {
                            <option value="-1" disabled>wybierz pojazd</option>
                        }
                        else
                        {
                            <option value="-1" disabled selected>wybierz pojazd</option>
                        }

                        foreach (var vehicle in Model[0].vehicles)
                        {
                            if (Model[0].is_editable && Model[0].vehicle.RegNumber == vehicle.RegNumber)
                            {
                                <option data-belong=@vehicle.ClientId selected>@vehicle.RegNumber</option>
                            }
                            else
                            {
                                <option data-belong=@vehicle.ClientId>@vehicle.RegNumber</option>
                            }
                        }
                    }
                </select>
            </div>
            @{
                if (Model[0].is_editable)
                {
                    <button asp-controller="AddVehicle" asp-action="AddVehicle" method="get" type="submit" asp-route-propasalId="@Model[0].proposal.Id" class="btn add-button"> <i class="fas fa-plus" style="color: black"></i></button>
                }
                else
                {
                    <button asp-controller="AddVehicle" asp-action="AddVehicle" method="get" type="submit" asp-route-propasalId="0" class="btn add-button"> <i class="fas fa-plus" style="color: black"></i></button>
                }

            }
        </div>


        <div class='my-row'>
            <div class='my-column'>
                <div class='element'>
                    <h1>Opis: </h1>
                </div>
                <div class='proposal-card'>
                    @{
                        if (!Model[0].is_editable)
                        {
                            <textarea rows="5" cols="58" class="formElement" id="description" name="description" value="domyślny opis" disabled>Wybierz klienta oraz pojazd, aby wpisać opis.</textarea>
                        }
                        else
                        {
                            <textarea rows="5" cols="58" class="formElement" id="description" name="description" value="@Model[0].proposal.Description">@Model[0].proposal.Description</textarea>
                        }
                    }
                </div>
            </div>
            @{
                if (Model[0].proposal.Result != null)
                {
                    <div class='my-column'>
                        <div class='element'>
                            <h1>Rezultat: </h1>
                        </div>
                        <div class='proposal-card'>
                            <textarea rows="5" cols="58" id="result" name="result" value="@Model[0].proposal.Result">@Model[0].proposal.Result</textarea>
                        </div>
                    </div>
                }
                else if (Model[0].proposal.Status == StatusEnum.FINAL)
                {
                    <div class='my-column'>
                        <div class='element'>
                            <h1>Rezultat: </h1>
                        </div>
                        <div class='proposal-card'>
                            <textarea rows="5" cols="58" id="result" name="result" value=""></textarea>
                        </div>
                    </div>
                }
                else if (Model[0].is_editable)
                {
                    <div class='my-column'>
                        <div class='element'>
                            <h1>Rezultat: </h1>
                        </div>
                        <div class='proposal-card'>
                            <textarea rows="5" cols="58" id="result" name="result" value="" disabled>Aby wpisać rezultat, ustaw stan zlecenia na "zakończone".</textarea>
                        </div>
                    </div>
                }
            }

        </div>
        <br>
        <br>


        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class='action-row'>
                    <div class='element'>
                        <h1>Akcje: </h1>
                    </div>
                    <div style="margin-left: 20px;">
                        @{
                            if (Model[0].is_editable)
                            {
                                <button asp-controller="AddProposal" asp-action="AddProposalToDb" method="get" value=@Model[0].proposal.Id name="proposalIdAction" id="addAction" onclick="onAddActionClicked()" class="btn btn-blue" data-toggle="tooltip" data-placement="right" title="spowoduje zapisanie stanu zlecenia.">dodaj akcję</button>
                            }
                            else
                            {
                                <button asp-controller="AddProposal" asp-action="AddProposalToDb" method="get" value=-1 name="proposalIdAction" id="addAction" onclick="onAddActionClicked()" class="btn btn-blue" data-toggle="tooltip" data-placement="right" title="spowoduje zapisanie stanu zlecenia." disabled>dodaj akcję</button>
                            }
                        }
                    </div>

                </div>
                <br />
                @{ if (Model[0].is_editable)
                    {
                        <div class="card-hover-shadow-2x mb-3 card">

                            <div class="scroll-area-sm">
                                <perfect-scrollbar class="ps-show-limits">
                                    <div style="position: static;" class="ps ps--active-y">
                                        <div class="ps-content">
                                            <ul class=" list-group list-group-flush">

                                                <li class="list-group-item">
                                                    <div class="bg-warning"></div>
                                                    <div class="p-0">
                                                        @foreach (var act in Model[0].actions)
                                                        {
                                                        <div class="action-table-row">
                                                            <div class="name">
                                                                @act.ActionTypeId
                                                            </div>
                                                            <div class="worker">
                                                                worker: @act.WorkerId
                                                            </div>
                                                            <div class="wykonaj-po">
                                                                @if (act.SequenceNumber != null)
                                                                {
                                                                    foreach (var a in Model[0].actions)
                                                                    {
                                                                        if (a.Id == act.SequenceNumber)
                                                                        {
                                                                            <div class="worker-field my-flex-center">
                                                                                wykonaj po: @a.ActionType.CodeAction
                                                                            </div>
                                                                        }
                                                                    }

                                                                }

                                                            </div>
                                                            
                                                            <div class="edit-dot my-flex-center">
                                                                @if (act.Status == StatusEnum.OPEN)
                                                                {
                                                                    <span class='circle circle-blue'></span>
                                                                }
                                                                else if (act.Status == StatusEnum.PROCESSING)
                                                                {
                                                                    <span class='circle circle-yellow'></span>
                                                                }
                                                                else if (act.Status == StatusEnum.FINAL)
                                                                {
                                                                    <span class='circle circle-green'></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class='circle circle-red'></span>
                                                                }
                                                                <div class="action-table-button"><button asp-controller="Action" asp-action="editAction" method="get" class="btn btn-red" name="actionId" value="@act.Id">Edytuj</button></div>
                                                            </div>

                                                        </div>
                                                        }

                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>

        <div class="save-cancel">
            @{
                if (Model[0].is_editable)
                {
                    <button asp-controller="AddProposal" asp-action="AddProposalToDb" method="get" class="btn save-button" id="saveButton" type="submit" name="proposalId" value=@Model[0].proposal.Id>Zapisz</button>
                    <button asp-controller="ShowProposal" asp-action="ShowProposal" name="proposalId" value="@Model[0].proposal.Id" method="get" class="btn cancel-button" id="cancelButton">Anuluj</button>
                }
                else
                {
                    <button asp-controller="AddProposal" asp-action="AddProposalToDb" method="get" class="btn save-button" id="saveButton" type="submit" name="proposalId" value=-1 disabled>Zapisz</button>
                    <button asp-controller="Proposals" asp-action="proposalList" method="get" class="btn cancel-button" id="cancelButton">Anuluj</button>
                }
            }

        </div>


    </form>


    <script>
        


    </script>



</body>
@{
    async Task<string> httpRequest(string url)
    {
        var uri = new Uri(url);

        var cookies = Context.Request.Cookies[".AspNetCore.Cookies"];

        HttpClientHandler handler = new HttpClientHandler();
        handler.CookieContainer = new System.Net.CookieContainer();
        handler.CookieContainer.Add(uri, new System.Net.Cookie(".AspNetCore.Cookies", cookies));

        var clinet = new HttpClient(handler);

        clinet.DefaultRequestHeaders.Add(".AspNetCore.Cookies", cookies);

        var response = await clinet.GetAsync(uri);
        string textResult = await response.Content.ReadAsStringAsync();

        return textResult;
    }

}


