
<div style="color: transparent;">
    @Model FormProposals
</div>
@using System.Net.Http
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/ManagerZlecenia.css" rel="stylesheet" />
    <link href="/css/ManagerPojazdy.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="/js/site.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="/js/ManagerPojazdy.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
</head>

<body>

    <div class="flex-center">
        <a type="submit" class="h2" asp-controller="Proposals" asp-action="ProposalList" style="text-decoration: none;">Lista zleceń</a>
    </div>
    <form asp-controller="Proposals" asp-action="getProposalsFilteredBySearch" method="get">
        <div class="search_wrap search_wrap_4">
            <div class="search_box">
                <button class="btn btn_common" type="submit">
                    <i class="fas fa-search"></i>
                </button>
                <input type="text" class="input input-font-dark" name="searching" placeholder="szukaj...">
            </div>
        </div>
    </form>

    <div class="flex-center">
        <div class="sorting-container">
            <form asp-controller="Proposals" asp-action="getProposalsFilteredBySatus" method="get" class="flex-center">
                <div>
                    <button type="submit" class="btn round-button btn-margin btn-blue" name="status" value=0>
                        przyjęte
                    </button>
                </div>


                <div>
                    <button type="submit" class="btn round-button btn-yellow btn-margin" name="status" value=1>
                        Trwające
                    </button>
                </div>

                <div>
                    <button type="submit" class="btn round-button btn-green btn-margin" name="status" value=2>
                        Zakończone
                    </button>
                </div>

                <div>
                    <button type="submit" class="btn round-button btn-red btn-margin" name="status" value=3>
                        Anulowane
                    </button>
                </div>
            </form>

        </div>
    </div>
    <br />
    <div class="flex-center">
        <div class="sorting-container">
            <form asp-controller="Proposals" asp-action="getOnlyManagerProposals" method="get" class="flex-center">
                <div>
                    <button type="submit" class="btn round-button btn-long btn-grey">
                        pokaż tylko moje zlecenia
                    </button>
                </div>
            </form>

            <form asp-controller="AddProposal" asp-action="AddProposal" method="get" class="flex-center">
                <div>
                    <button type="submit" class="btn round-button btn-long btn-grey" style="font-size: 30px;">
                        +
                    </button>
                </div>
            </form>




        </div>
    </div>
    <br />
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header">
                    <div class="text-capitalize font-weight-normal">Lista zleceń</div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    @foreach (var item in Model[0].proposals)
                                    {
                                        <li class="list-group-item">
                                            <div class="bg-warning"></div>
                                            <div class="p-0">
                                                <div class="row">
                                                    <div class="zlecenie-header">
                                                        <form asp-controller="AddProposal" asp-action="AddProposal" method="get">
                                                            <button class="h5 a-anim nav-link btn-table" name="proposalId" value="@item.Id">@item.VehicleId @item.StartDate</button>
                                                        </form>
                                                        <i>@item.Description</i>
                                                    </div>
                                                    <div class="progess-container">
                                                        @{
                                                            var uri = new Uri("https://localhost:44323/Proposals/getProposalActionsComplete?proposalId=" + item.Id);

                                                            var cookies = Context.Request.Cookies[".AspNetCore.Cookies"];

                                                            HttpClientHandler handler = new HttpClientHandler();
                                                            handler.CookieContainer = new System.Net.CookieContainer();
                                                            handler.CookieContainer.Add(uri, new System.Net.Cookie(".AspNetCore.Cookies", cookies));

                                                            var clinet = new HttpClient(handler);

                                                            clinet.DefaultRequestHeaders.Add(".AspNetCore.Cookies", cookies);

                                                            var response = await clinet.GetAsync(uri);
                                                            string textResult = await response.Content.ReadAsStringAsync();



                                                            if (@item.Status == StatusEnum.OPEN)
                                                            {
                                                                <button class="trash-button" data-toggle="tooltip" data-placement="right" title="Należy najpierw zakończyć naprawę, aby ją usunąć." disabled>
                                                                    <i class="fas fa-trash" style='font-size:24px;color:gray'></i>
                                                                </button>

                                                                <span class="circle circle-blue" data-toggle="tooltip" data-placement="right" title="przyjęte"></span>
                                                            }
                                                            else if (@item.Status == StatusEnum.PROCESSING)
                                                            {
                                                                <div class="pudelko progress">
                                                                    <div data-percentage="0%" style="width: @textResult;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

                                                                </div>
                                                                <button class="trash-button" data-toggle="tooltip" data-placement="right" title="Należy najpierw zakończyć naprawę, aby ją usunąć." disabled>
                                                                    <i class="fas fa-trash" style='font-size:24px;color:gray'></i>
                                                                </button>
                                                                <span class="circle circle-yellow" data-toggle="tooltip" data-placement="right" title="trwające"></span>
                                                            }
                                                            else if (@item.Status == StatusEnum.FINAL)
                                                            {
                                                                <button class='trash-button' data-toggle="modal" data-target="#deleteModal" type="button" value="@item.Id">
                                                                    <i class="fas fa-trash" style='font-size:24px;color:red'></i>
                                                                </button>
                                                                <span class="circle circle-green" data-toggle="tooltip" data-placement="right" title="zakończone"></span>
                                                            }
                                                            else
                                                            {
                                                                <button class='trash-button' data-toggle="modal" data-target="#deleteModal" type="button" value="@item.Id">
                                                                    <i class="fas fa-trash" style='font-size:24px;color:red'></i>
                                                                </button>
                                                                <span class="circle circle-red" data-toggle="tooltip" data-placement="right" title="anulowane"></span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <table id="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-fullscreen="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-detail-view="true"
           data-show-export="true"
           data-click-to-select="true"
           data-detail-formatter="detailFormatter"
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, all]"
           data-show-footer="true"
           data-side-pagination="server"
           data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"
           data-response-handler="responseHandler">
    </table>

    <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal" aria-labelledby="deleteModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Usuwanie zlecenia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <p class="modal-body" id="proposal"></p>
                </div>
                <div class="modal-footer">
                    <form asp-controller="Proposals" asp-action="deleteProposal" method="get">
                        <button type="submit" class="btn btn-primary" name="proposalId" value="" id="deleteConfirmed">Tak, usuń</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>

                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function (event) {
            $("#deleteModal").on('show.bs.modal', function (event) {
                //get button that triggered the modal
                var button = $(event.relatedTarget);

                //get the button "tak, usuń" in modal window
                var confirmDelete = document.getElementById("deleteConfirmed");

                //get modal window
                var modal = $(this);

                //set the button's value to proposalId
                confirmDelete.value = button.val();

                //set the text in model window
                modal.find('.modal-body').html("Czy chcesz usunąć zlecenie wraz z całą jego historią?");
            });

        });
    </script>

</body>




@{
    async Task<string> httpRequest(string url)
    {
        var uri = new Uri(url);

        var cookies = Context.Request.Cookies[".AspNetCore.Cookies"];

        HttpClientHandler handler = new HttpClientHandler();
        handler.CookieContainer = new System.Net.CookieContainer();
        handler.CookieContainer.Add(uri, new System.Net.Cookie(".AspNetCore.Cookies", cookies));

        var clinet = new HttpClient(handler);

        clinet.DefaultRequestHeaders.Add(".AspNetCore.Cookies", cookies);

        var response = await clinet.GetAsync(uri);
        string textResult = await response.Content.ReadAsStringAsync();

        return textResult;
    }

}
